.top_navbar_bg{
    background-color: #E7E6E4 !important;
    color: #2F2E41 !important;
}

.text_sdca,
a.text_sdca:focus,
a.text_sdca:hover {
  color: #BD171B !important;
}

.uli_text{
    font-size: 16px;
    color: #2F2E41;
}
.forgot_password_link{
    text-decoration: none;
    color: #686875;
}
.forgot_password_link:hover{
    color: #2F2E41;
    text-decoration: none;
}

.margin_x{
    margin: 0px 16px !important;
}

/* customized nav-link */
.nav-pills > .custom_navlink_blue > a.active{
    background-color: #2F2E41 !important;
    color: #fff !important;
}
.nav-pills > .custom_navlink_blue > a{
    background-color: transparent !important;
    color: #2F2E41 !important;
}
.nav-pills > .custom_navlink_blue > a:hover{
    background-color: #C0C0C5 !important;
    color: #2F2E41 !important;
}
.nav-pills > .custom_navlink_blue > a:focus,
.nav-pills > .custom_navlink_blue > a:active{
    background-color: #2F2E41 !important;
    color: #fff !important;
}

/* custom background-colors colors */
/* light blue background */
.bg_light_blue{
    background-color: #F4F4F5 !important;
    border-radius: 12px !important;
    overflow: hidden;
}
.title_bg_light_blue{
    font-size: 12px;
    color: #2F2E41;
    font-weight: bold;
    margin: 0px !important;
    text-transform: uppercase;
}
.subtitle_bg_light_blue{
    font-size: 14px;
    color: #6c757d;
    margin: 0px !important;
    font-style: italic;
}
/* light green background */
.bg_light_green{
    background-color: #F0FAF5 !important;
    border-radius: 12px !important;
    overflow: hidden;
}
.title_bg_light_green{
    font-size: 12px;
    color: #62BC8B;
    font-weight: bold;
    margin: 0px !important;
    text-transform: uppercase;
}
/* light red background */
.bg_light_red{
    background-color: #FBF1F1 !important;
    border-radius: 12px !important;
    overflow: hidden;
}
.title_bg_light_red{
    font-size: 12px;
    color: #BD171B;
    font-weight: bold;
    margin: 0px !important;
    text-transform: uppercase;
}
.subtitle_bg_light_red{
    font-size: 13px;
    color: #D77376;
    font-weight: normal;
    margin: 0px !important;
}
/* warning text */
.labelonDisabled_modules{
    font-size: 14px !important;
    color: #2F2E41 !important;
}
.alert_notice_txt_red{
    font-size: 12px;
    font-weight: normal;
    color: #BD171B !important;
    line-height: normal !important;
}

/* custom card-body bg */
.cb_light_bg{
    background-color: #f8f9fa !important;
}


/* customized collapse button with chage icon */
.collapse_btn_txt{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #2F2E41;
    text-transform: none;
    padding: 0px;
    line-height: 20px;

    display: block;
    align-items: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.collapse_btn_block{
    margin: 0px !important;
    background-color: #ffffff !important;
    color: #2F2E41 !important; 
    border-radius: 12px !important;
    overflow: hidden;
}
.collapse_btn_block:hover{
    background-color: #f8f9fa !important;
    color: #2F2E41 !important;
}
.collapse_btn_block:focus,
.collapse_btn_block:active,
.collapse_btn_block:active:focus{
    background-color: #ffffff !important;
    color: #2F2E41 !important;
}

/* red collapse button */
.collapse_btn_block_red{
    margin: 0px !important;
    background-color: #FBF1F1 !important;
    color: #2F2E41 !important; 
    border-radius: 12px;
}
.collapse_btn_block_red:hover{
    background-color: #f9eaea !important;
    color: #2F2E41 !important;
}
.collapse_btn_block_red:focus,
.collapse_btn_block_red:active,
.collapse_btn_block_red:active:focus{
    background-color: #FBF1F1 !important;
    color: #2F2E41 !important;
}

/* darken-gray collapse button */
.collapse_btn_block_gray{
    margin: 0px !important;
    background-color: #E7E6E4 !important;
    color: #2F2E41 !important; 
    border-radius: 12px;
}
.collapse_btn_block_gray:hover{
    background-color: #DEDEDE !important;
    color: #2F2E41 !important;
}
.collapse_btn_block_gray:focus,
.collapse_btn_block_gray:active,
.collapse_btn_block_gray:active:focus{
    background-color: #E7E6E4 !important;
    color: #2F2E41 !important;
}

/* Card */
.br_radius_all{
    border-radius: 12px !important;
    overflow: hidden;
}
.br_radius_bl{
    border-bottom-left-radius: 12px !important;
}
.br_radius_br{
    border-bottom-right-radius: 12px !important;
}
.br_radius_tl{
    border-top-left-radius: 12px !important;
}
.br_radius_tr{
    border-top-right-radius: 12px !important;
}
.br_radius_bottom{
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.cust_card_padd{
    padding: 15px 25px !important;
}

.cust_card_header{
    padding: 25px 25px 0px 25px !important;
}
.cust_card_header_2{
    padding: 25px 25px 25px 25px !important;
}
.cust_card_title{
    font-size: 25px !important;
    text-transform: uppercase !important;
    color: #2F2E41 !important;
    font-weight: bold;
    margin: 0px !important;
    line-height: 10px;
}
.cust_card_sub_title{
    font-size: 15px;
    color: #6C757D !important;
}

.card_title{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2F2E41;
}
.card_sub_title{
    font-size: 16px;
    line-height: 25px;
}

/* directory links and texts */
.dir_link_active{
    color: #2F2E41;
}
a.return_back_link{
    text-decoration: none !important;
    color: #A5A4AD;
}
a.return_back_link:hover,
a.return_back_link:focus{
    color: #2F2E41;
}

/* Login page */
.login_logo{
    width: auto !important;
    height: 70px !important;
}
a.sdca_link{
    text-decoration: none;
    color: #BD171B;
}
.btn-sdca {
    background-color: #BD171B;
    color: #fff;    
}

/* Dashboard */
.department_text{
    font-size: 20px;
    color: #2F2E41;
}
.violators_count_div{
    line-height: 30px;
}
.violators_count{
    font-size: 35px;
    color: #BD171B;
    font-weight: bold;
    margin: 0px;
}
.violators_text{
    font-size: 16px;
    color: #BD171B !important;
}
.top_violators{
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px !important;
    background-color: #f8f9fa;
}
.top_violator_student_div{
    display: block;
    align-items: left;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.student_offense_count{
    font-size: 14px;
    color: #fff !important
}

/* User Profile */
    /* User Image Parent Div */
    .card-user .user_image_div{
        height: 160px;
        width: 160px;
        background-color: #fff;
        border: 5px solid #BD171B;
        border-radius: 50%;
        position: relative;
        background-image: url('/paper/img/user/user_default_image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .emp_id_text{
        font-size: 16px;
    }
    /* Image Tag */
    .user_image_div .img_user_image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    /* button */
    .user_image_btn{
        height: 40px;
        width: 40px;
        padding: 1px;
        text-decoration: none;
        position: absolute;
        border-radius: 50%;
        font-size: 16px;
        margin-left: 45px;
        margin-top: -80px;
        border: 0px;
    }
    /* User Image Upload on MOdal */
    .user_image_div_modal{
        width: 180px !important;
        height: 180px !important;
    }
    /* button */
    .user_image_btn_on_modal{
        height: 40px;
        width: 40px;
        padding: 1px;
        text-decoration: none;
        position: absolute;
        border-radius: 50%;
        font-size: 18px;
        margin-left: -30px;
        margin-top: 100px;
        border: 0px;
    }
    input[type="file"] {
        display: none;
    }

    .imagePreview {
        width: 160px;
        height: 160px;
        border: 2px solid #2F2E41;
        border-radius: 50%;
        background-color:#fff;
        background-position: center center;
        background: url('/paper/img/user/user_default_image.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        display: inline-block;
        /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important */
    }
    .imagePreview .img_user_image{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
    }
    .user_upload_image_btn{
        display:block;
        font-size: 16px !important;
        height: 50px;
        width: 50px;
        padding: 11px !important;
        text-decoration: none;
        position: absolute;
        border-radius: 25px;
        margin-left: 250px;
        margin-top: -60px;
    }
    .input.uploadFile{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }

/* users */
.btn_edit_profile{
    height: 40px;
    width: 40px;
    padding: 1px;
    text-decoration: none;
    position: absolute;
    border-radius: 50%;
    font-size: 16px;
    margin-left: -30px;
    margin-top: 90px;
    border: 0px;
}
a.btn_edit_profile:hover{
    text-decoration: none;
}

.user_image_edit{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

/* registered Guards card */
.bg_darken_gray{
    background-color: #E7E6E4 !important;
}
div.circle_div{
    border-radius: 50%;
}
.user_image_circle img{
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50% !important;
}
div.user_name_status{
    line-height: 15px;
}
span.user_name_label_txt{
    font-size: 14px;
    font-weight: normal;
}
span.user_status_txt{
    font-size: 10px;
    font-weight: bold;
}
p.user_name_txt{
    font-size: 16px;
    font-weight: bold;
}
a.user_card_as_link{
    text-decoration: none !important;
}
.user_card:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important
}

/* top nav */
.user_image_circle_small{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.short_svms_text{
    display: none;
}

/* modal */
.modal-card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    color: #252422;
    border: 0 none;
}

/* Edit Profile Modal */
/* .card .user_image_on_modal {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
} */
.card-user .user_image_on_modal {
    width: 180px !important;
    height: 180px !important;
    border: 8px solid #51bcda;
    position: relative;
}
.card-user .author_on_modal {
    margin-top: -100px !important;
}
.card-user .author_on_modal a+p.description {
    margin-top: -7px;
}
.user_image_upload_btn{
    height: 50px;
    width: 50px;
    padding: 0px;
    padding-top: 1px;
    text-decoration: none;
    position: absolute;
    border-radius: 50%;
    font-size: 18px;
    margin-left: -30px;
    margin-top: 100px;
    border: 0px;
}
a.user_image_upload_btn:hover{
    text-decoration: none;
}
p.role_description_txt{
    font-size: 14px;
    font-weight: 600 !important;
}

/* User Activity Table */
.user_activity_table_div{
    overflow-y: auto !important;
    overflow-x:  auto;
    -webkit-overflow-scrolling: touch !important;
    height: auto;
    min-height: auto;
    max-height: 725px !important;
}
th.th_left{
    text-align: left !important;
}
td.td_left{
    text-align: left !important;
}
.user_activity_table_div thead th{
    position: sticky;
    top: 0;
}
.with_bg{
    background-color: #f5f5f5;
}
.no_data_yet_img{
    height: 280px;
    width: auto;
}

/* User Management */
/* list of registered users */
.registered_users_list_group{
    border-radius: 12px;
    overflow: hidden;
}
.list_group_cust_border{
    border: 1px solid #F5F5F5 !important;
}
.user_intro_name_txt{
    font-size: 15px;
    font-weight: bold;
    color: #2F2E41 !important;
}
.user_intro_role_txt{
    font-size: 13px;
    font-weight: normal;
    color: #6c757d !important;
}
.ul_user_list_imgtxt_div{
    text-align: left;
    text-transform: none;
    padding: 0px;

    display: block;
    align-items: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.ul_user_image_div{
    height: 60px;
    width: 60px;
    border: 2px solid #2F2E41;
    border-radius: 50%;
    position: relative;
    background-image: url('/paper/img/user/user_default_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
.user_imgage_img{
    height: auto;
    width: auto;
}
.user_intro_div{
    display: block;
    align-items: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 15px;
}
.registered_users_count{
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-weight: normal;
    font-size: 13px;
    color: #6C757D !important;
}
.registered_users_count i{
    font-size: 13px;
    font-weight: bold;
}
/* list of user roles */
.user_roles_lists{
    border: 1px solid #F5F5F5 !important;
    margin: 0px !important;
    height: auto !important;
}
.collapse_disabled_modules{
    border: 1px solid #f5f5f5 !important;
    border-radius: 12px;
    overflow: hidden !important;
    margin: 0px !important;
    height: auto !important;
}
.custom_collapse_btn_header{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #2F2E41;
    text-transform: none;

    display: block;
    align-items: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 15px;  
}
.user_role_txt{
    font-size: 15px;
    font-weight: bold;
    color: #2F2E41 !important;
}
.users_reg_roles_txt{
    font-size: 13px;
    font-weight: normal;
    color: #6c757d !important;
}
.user_role_notice_txt{
    font-size: 12px;
    font-weight: normal;
    color: #6c757d !important;
    line-height: normal !important;
}


.user_role_access_div,
.user_role_reg_users_div{
    line-height: 25px;
}
.access_control_count{
    font-size: 12px;
    color: #62BC8B;
    font-weight: bold;
}
.user_role_reg_users_count{
    font-size: 12px;
    color: #2F2E41;
    font-weight: bold;
}
.access_controls_txt{
    font-size: 14px;
    color: #242333;
    margin: 0px !important;
}
/* add new user role button */
.btn_add_userRole{
    /* background-color: #E7E6E4 !important; */
    background-color: #D6D6D7 !important;
    color: #9B99A1; 
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px;
    padding: 10px 12px !important;
    text-decoration: none !important;
}
.btn_add_userRole:hover,
.btn_add_userRole:focus{
    background-color: #C9C9C9 !important;
    color: #595967 !important; 
}
.btn_add_userRole:active,
.btn_add_userRole:active:focus{
    background-color: #C9C9C9 !important;
    color: #595967 !important; 
}
/* create New User Form */
.disabled_modules_card{
    border: 2px solid #F9EAEA !important;
    margin: 0px !important;
    height: auto !important;
    overflow: hidden !important;
    border-radius: 13px !important;
}

/* User Card */
.card-user .bg_img_on_create_user_card{
    height: 100px !important;
}
.card-user .bg_img_on_create_user_card img {
    border-radius: 0px !important;
}
.card-user .user_image_div{
    text-align: center;
    text-transform: none;
    margin-top: -100px;
}
.card .avatar_new {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}
.card-user .avatar_new {
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    position: relative;
}

/* violation entry */
.notice_card{
    display: flex;
    flex-wrap: nowrap;
}
.notice_div{
    margin: 20px 0px 0px 30px !important;
    line-height: normal;
    vertical-align: middle;
    width: 800px;
}
p.date_today_txt{
    margin: 0px;
    font-size: 25px;
    color: #343a40;
}
p.day_today_txt{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2F2E41;
}
p.announcement_txt{
    font-size: 16px;
    line-height: 25px;
}
div.illustration_div{
    margin-left: auto !important;
    margin-right: 0px !important;
}
img.illustration_search_student{
    height: 330px !important;
    width: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-size: cover;
}
div.illustration_no_match_found{
    height: 100px !important;
    width: auto;
    background-image: url('/paper/illustrations/no_match_found.jpg');
    background-repeat: no-repeat;
}
.search_student_input{
    height: 70px;
    width: 100%;
    border-radius: 40px;
    border: 0px;   
    transition: .3s;
    font-size: 18px !important;
    background-color: #F8E7E7;
    border: 2px solid #F8E7E7;
    color: #2f2e41 !important;
}
.search_student_input:focus{
    border: 2px solid #DE8B8D;
}
.search_student_input:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important
}
.search_student_input::placeholder{
    color: #BD171B !important;
}
.violationFormStudent:hover{
    background-color: #f8f9fa;
    box-shadow: none;
    text-decoration: none !important;
}
.display_search_div{
    padding-left: 30px;
}
.no_result_found a{
    box-shadow: none !important;
    border: 0px !important;
    background-color: #fff !important;
    border-radius: 12px !important;
}
.no_result_found a:hover,
.no_result_found a:focus{
    background-color: #fff !important;
}
.no_result_found div{
    box-shadow: none !important;
    border: 0px !important;
    background-color: #fff !important;
    border-radius: 12px !important;
}
.violationFormStudent{
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 1px solid #f4f3ef !important;
}
.violationFormStudent:hover{
    background-color: #F8E7E7;
}
.student_list_div{
    align-items: left;
    vertical-align: middle;
}
.student_image_div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
}
.student_image_div img.student_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.student_details_div{
    display: block;
    align-items: left;
    line-height: 7px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
p.student_name_txt{
    font-size: 16px;
    font-weight: bold !important;
    color: #414449 !important;
}
p.student_number_txt{
    margin-bottom: 0px !important;
}

    /* Violation Form */
    .modal_w{
        width: 1000px;
    }
    .modal-xl{
        width: 1140px;
    }
    .student_details_card{
        background-color: #FFE6E7 !important;
        border-radius: 12px !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    }
    .violation_date{
        background-color: #2F2E41 !important;
        border-radius: 12px;
        line-height: 30px;
        color: #fff !important;
    }
    .text-lighter{
        color: #C4C4C4 !important
    }
    .violation_date p{
        margin: 0px !important;
    }
    .img_card{
        min-height: 370px !important;
        max-height: 370px !important;
        max-width: 100%;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        background-repeat:no-repeat;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .offenses_div{
        background-color: #F7E2E3;
        border-radius: 12px;
    }
    .student_offenses_card{
        background-color: #fff !important;
        border-radius: 12px !important;
        padding: 20px !important;
    }
    .form_title_div{
        text-align: center !important;
        line-height: 25px !important;
        margin-bottom: 15px !important;
    }
    p.DSAS_txt{
        font-weight: normal !important;
        font-size: 15px !important;
        margin: 0px;
        color: #484758 !important;
    }
    p.SDU_txt{
        font-weight: bold !important;
        font-size: 20px !important;
        color: #2F2E41 !important;
        margin: 0px;
    }
    p.violation_form_txt{
        font-size: 20px !important;
        font-weight: bold !important;
        margin-top: 10px;
    }
    .student_img_div_modal{
        width: 70px;
        height: 70px;
        max-width: 70px;
        max-height: 70px;
        min-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        background-repeat:no-repeat;
        display: inline-block;
    }
    .student_img_div_modal .student_img_modal{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .student_details_div_modal{
        height: auto;
        display: block;
        align-items: left;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    p.student_id_txt_modal{
        font-size: 16px !important;
        font-weight: 500 !important;
        color: black !important;
    }
    p.student_name_txt_modal{
        font-size: 18px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }
    p.student_details_txt_modal{
        color: #6c757d !important;
        margin: 0px !important;
    }
    p.student_violation_count{
        color: #BD171B !important;
        font-weight: 10px !important;
        font-style: italic;
    }
    .offense_title{
        color: #BD171B;
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase !important;
    }
    .other_offense_txt_area{
        border: 0px !important;
    }
    .other_offense_txt_area:hover,
    .other_offense_txt_area:focus{
        border: 1px solid #BD171B;
    }
    /* checkbox */
    label.cb_label{
        padding-top: 2px !important;
    }
    p.recorded_by_txt,
    p.recorded_date_txt{
        font-size: 12px !important;
        font-style: italic;
        margin-bottom: 0px !important;
        vertical-align:middle !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    p.recorded_date_txt{
        font-style: normal !important;
    }
    .v_btn{
        font-size: 14px !important;
    }

/* violation records */
.main_card{
    display: flex;
    flex-wrap: nowrap;
}
.vr_card_footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.illustration_div{
    margin-left: auto !important;
    margin-right: 0px !important;
}
img.illustration_svg{
    height: 280px !important;
    width: auto;
    margin-top: -70px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-size: cover;
}
.violation_records_table,
.violation_records_table table{
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    overflow: hidden;
    border: 0px !important;
}
.violation_records_table table tbody tr{
    border-top: 1px solid #EBEBED;
    border-bottom: 1px solid #EBEBED;
}
.violation_record_table_div{
    overflow-y: auto !important;
    overflow-x:  auto;
    -webkit-overflow-scrolling: touch !important;
    height: auto;
    min-height: auto;
    max-height: 500px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #F4F4F5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.violation_record_table_div thead th{
    position: sticky;
    top: 0;
}
.vr_no_available_data{
    height: 120px;
    width: auto;
}
.violation_records_table table tbody tr{
    cursor: pointer !important;
}
.vr_total_records_div{
    padding: 13px !important;
    border-radius: 7px;
    font-size: 14px;
    font-weight: normal;
    color: #242333;
    background-color: #F4F4F5 !important;
}

/* student offense records */
p.unreg_student_num_txt{
    font-size: 35px;
    font-weight: bold;
    color: #BD171B;
    margin: 0px !important;
}
img.unregistered_student_number_svg{
    height: 300px;
    width: auto;
    margin: 0px -60px 20px 0px !important;
}
.total_offenses_bagde{
    padding: 15px 10px;
    color: #fff;
    font-size: 14px;
}
.badge.badge-sdca {
    border-color: #BD171B;
    background-color: #BD171B;
}
.cust_bg_light_grey{
    background-color: #f5f5f5;
}
.sr_no_sanctions_yet{
    height: 240px;
    width: auto;
}
.sr_no_violations_found{
    height: 280px;
    width: auto;
}
.offense_total_count{
    background-color: #BD171B !important;
    border-radius: 12px;
    line-height: 30px;
    color: #fff !important;
}
.record_offenses_parent_div{
    height: auto;
}
.card-body .offenses_card{
    background-color: #fff;
    border-radius: 12px !important;
}
.date_div{
    line-height: 30px;
}
.date_div2{
    line-height: 25px;
}
.offense_card_dropdown_btn{
    background-color: #fff;
    color: #CBCACE; 
    height: 40px;
    width: 40px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px;
    padding: 10px !important;
    text-decoration: none !important;
}
.offense_card_dropdown_btn:hover,
.offense_card_dropdown_btn:focus,
.offense_card_dropdown_btn:active,
.offense_card_dropdown_btn:active:focus{
    background-color: #F5F5F5 !important;
    color: #9B99A1 !important; 
}

.dropdown_menu{
    background-color: #E7E6E4 !important;
    color: #9B99A1; 
    height: 40px;
    width: 40px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px;
    padding: 10px !important;
    text-decoration: none !important;
}
.dropdown_menu:hover,
.dropdown_menu:focus{
    background-color: #D6D6D7 !important;
    color: #2F2E41 !important; 
}
.dropdown_menu:active,
.dropdown_menu:active:focus{
    background-color: #D6D6D7 !important;
    color: #2F2E41 !important; 
}

.offense_day_txt{
    font-size: 25px;
    color: #3A384A;
    font-weight: bold;
    margin: 0px !important;
}
.offense_date_txt{
    font-size: 14px;
    color: #888690;
    margin: 0px !important;
}
.offense_card{
    background-color: #FBF1F1 !important;
    border-radius: 12px;
    margin-bottom: 10px !important;
    padding: 10px 15px !important;
}
.offenses_list{
    line-height: 25px;
}
.offense_title_txt{
    font-size: 12px;
    color: #BD171B;
    font-weight: bold;
    margin: 0px !important;
    text-transform: uppercase;
}
.offense_num_count_txt{
    font-size: 12px;
    color: #BD171B;
    font-weight: bold;
}
.offense_txt{
    font-size: 14px;
    color: #242333;
    margin: 0px !important;
}
.recorded_by_div{
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: 13px;
    color: #C3C2C7 !important;
}
.recorded_by_div i{
    font-size: 12px;
}
.user_name{
    font-style: italic;
    color: #888690;
}
.addInputBtn,
.removeInputBtn{
    margin: 0px !important;
    padding: 11px 15px !important;
}
.violation_lists{
    /* box-shadow: none !important; */
    border: 1px solid #F5F5F5 !important;
    margin: 0px !important;
    height: auto !important;
}
.custom_header_collapse{
    padding: 10px 15px 0px 15px !important;
}
.collapse_title{
    font-size: 16px;
    color: #3A384A;
    font-weight: bold;
    margin: 0px !important;
}
.collapse_subtitle{
    font-size: 14px;
    color: #888690;
    margin: 0px !important;
}
.custom_modal_body{
    padding: 15px 0px !important;
    background-color: #F5F5F5;
}


/* Media Queries */
@media only screen and (max-width: 576px) {
    .short_svms_text{
        display: block !important;
    }
    .span_svms_text{
        display: none !important;
    }
    .display_search_div{
        padding-right: 30px;
    }
    .notice_div{
        margin: 30px !important;
    }
    .illustration_div{
        display: none !important;
    }
}


