
.text_sdca,
a.text_sdca:focus,
a.text_sdca:hover {
  color: #BD171B !important;
}

.uli_text{
    font-size: 16px;
    color: #2F2E41;
}
.forgot_password_link{
    text-decoration: none;
    color: #686875;
}
.forgot_password_link:hover{
    color: #2F2E41;
    text-decoration: none;
}

.dir_slash{

}

/* Card */
.br_radius_bl{
    border-bottom-left-radius: 12px !important;
}
.br_radius_br{
    border-bottom-right-radius: 12px !important;
}
.br_radius_tl{
    border-top-left-radius: 12px !important;
}
.br_radius_tr{
    border-top-right-radius: 12px !important;
}
.br_radius_bottom{
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.card_title{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2F2E41;
}
.card_sub_title{
    font-size: 16px;
    line-height: 25px;
}

a.return_back_link{
    text-decoration: none !important;
    color: #2F2E41;
}
a.return_back_link:hover,
a.return_back_link:focus{
    color: #464555;
}

/* Login page */
.login_logo{
    width: auto !important;
    height: 70px !important;
}
a.sdca_link{
    text-decoration: none;
    color: #BD171B;
}
.btn-sdca {
    background-color: #BD171B;
    color: #fff;    
}

/* Dashboard */
.department_text{
    font-size: 20px;
    color: #2F2E41;
}
.violators_count_div{
    line-height: 30px;
}
.violators_count{
    font-size: 35px;
    color: #BD171B;
    font-weight: bold;
    margin: 0px;
}
.violators_text{
    font-size: 16px;
    color: #BD171B !important;
}
.top_violators{
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px !important;
    background-color: #f8f9fa;
}
.top_violator_student_div{
    display: block;
    align-items: left;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.student_offense_count{
    font-size: 14px;
    color: #fff !important
}

/* User Profile */
    /* User Image Parent Div */
    .card-user .user_image_div{
        height: 160px;
        width: 160px;
        background-color: #fff;
        border: 5px solid #BD171B;
        border-radius: 50%;
        position: relative;
        background-image: url('/paper/img/user/user_default_image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .emp_id_text{
        font-size: 16px;
    }
    /* Image Tag */
    .user_image_div .img_user_image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    /* button */
    .user_image_btn{
        height: 40px;
        width: 40px;
        padding: 1px;
        text-decoration: none;
        position: absolute;
        border-radius: 50%;
        font-size: 16px;
        margin-left: 45px;
        margin-top: -80px;
        border: 0px;
    }
    /* User Image Upload on MOdal */
    .user_image_div_modal{
        width: 180px !important;
        height: 180px !important;
    }
    /* button */
    .user_image_btn_on_modal{
        height: 40px;
        width: 40px;
        padding: 1px;
        text-decoration: none;
        position: absolute;
        border-radius: 50%;
        font-size: 18px;
        margin-left: -30px;
        margin-top: 100px;
        border: 0px;
    }
    input[type="file"] {
        display: none;
    }

    .imagePreview {
        width: 180px;
        height: 180px;
        border: 5px solid #BD171B;
        border-radius: 50%;
        background-color:#fff;
        background-position: center center;
        background: url('/paper/img/user/user_default_image.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        display: inline-block;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important
    }
    .imagePreview .img_user_image{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
    }
    .upload_image_btn
    {
        display:block;
        font-size: 18px !important;
        height: 45px;
        width: 45px;
        padding: auto !important;
        text-decoration: none;
        position: absolute;
        border-radius: 50%;
        margin-left: 170px;
        margin-top: -70px;
    }

/* users */
.btn_edit_profile{
    height: 40px;
    width: 40px;
    padding: 1px;
    text-decoration: none;
    position: absolute;
    border-radius: 50%;
    font-size: 16px;
    margin-left: -30px;
    margin-top: 90px;
    border: 0px;
}
a.btn_edit_profile:hover{
    text-decoration: none;
}

.user_image_edit{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

/* registered Guards card */
.bg_darken_gray{
    background-color: #EBEBEB;
}
div.circle_div{
    border-radius: 50%;
}
.user_image_circle img{
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50% !important;
}
div.user_name_status{
    line-height: 15px;
}
span.user_name_label_txt{
    font-size: 14px;
    font-weight: normal;
}
span.user_status_txt{
    font-size: 10px;
    font-weight: bold;
}
p.user_name_txt{
    font-size: 16px;
    font-weight: bold;
}
a.user_card_as_link{
    text-decoration: none !important;
}
.user_card:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important
}

/* top nav */
.user_image_circle_small{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.short_svms_text{
    display: none;
}

/* modal */
.modal-card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    color: #252422;
    border: 0 none;
}

/* Edit Profile Modal */
/* .card .user_image_on_modal {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
} */
.card-user .user_image_on_modal {
    width: 180px !important;
    height: 180px !important;
    border: 8px solid #51bcda;
    position: relative;
}
.card-user .author_on_modal {
    margin-top: -100px !important;
}
.card-user .author_on_modal a+p.description {
    margin-top: -7px;
}
.user_image_upload_btn{
    height: 50px;
    width: 50px;
    padding: 0px;
    padding-top: 1px;
    text-decoration: none;
    position: absolute;
    border-radius: 50%;
    font-size: 18px;
    margin-left: -30px;
    margin-top: 100px;
    border: 0px;
}
a.user_image_upload_btn:hover{
    text-decoration: none;
}
p.role_description_txt{
    font-size: 14px;
    font-weight: 600 !important;
}

/* User Activity Table */
.user_activity_table_div{
    overflow-y: auto !important;
    overflow-x:  auto;
    -webkit-overflow-scrolling: touch !important;
    height: auto;
    min-height: auto;
    max-height: 725px !important;
}
th.th_left{
    text-align: left !important;
}
td.td_left{
    text-align: left !important;
}
.user_activity_table_div thead th{
    position: sticky;
    top: 0;
}

/* User Management */
/* User Card */
.card-user .bg_img_on_create_user_card{
    height: 100px !important;
}
.card-user .bg_img_on_create_user_card img {
    border-radius: 0px !important;
}
.card-user .user_image_div{
    text-align: center;
    text-transform: none;
    margin-top: -100px;
}
.card .avatar_new {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}
.card-user .avatar_new {
    width: 150px;
    height: 150px;
    border: 1px solid #FFFFFF;
    position: relative;
}

/* violation entry */
.notice_card{
    display: flex;
    flex-wrap: nowrap;
}
.notice_div{
    margin: 30px 0px 0px 30px !important;
    line-height: normal;
    vertical-align: middle;
    width: 800px;
}
p.date_today_txt{
    margin: 0px;
    font-size: 25px;
    color: #343a40;
}
p.day_today_txt{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2F2E41;
}
p.announcement_txt{
    font-size: 16px;
    line-height: 25px;
}
div.illustration_div{
    margin-left: auto !important;
    margin-right: 0px !important;
}
img.illustration_search_student{
    height: 330px !important;
    width: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-size: cover;
}
div.illustration_no_match_found{
    height: 100px !important;
    width: auto;
    background-image: url('/paper/illustrations/no_match_found.jpg');
    background-repeat: no-repeat;
}
.search_student_input{
    height: 70px;
    width: 100%;
    border-radius: 40px;
    border: 0px;   
    transition: .3s;
    font-size: 18px !important;
    background-color: #F8E7E7;
    border: 2px solid #F8E7E7;
    color: #2f2e41 !important;
}
.search_student_input:focus{
    border: 2px solid #DE8B8D;
}
.search_student_input:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important
}
.search_student_input::placeholder{
    color: #BD171B !important;
}
.violationFormStudent:hover{
    background-color: #f8f9fa;
    box-shadow: none;
    text-decoration: none !important;
}
.display_search_div{
    padding-left: 30px;
}
.no_result_found a{
    box-shadow: none !important;
    border: 0px !important;
    background-color: #fff !important;
    border-radius: 12px !important;
}
.no_result_found a:hover,
.no_result_found a:focus{
    background-color: #fff !important;
}
.no_result_found div{
    box-shadow: none !important;
    border: 0px !important;
    background-color: #fff !important;
    border-radius: 12px !important;
}
.violationFormStudent{
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 1px solid #f4f3ef !important;
}
.violationFormStudent:hover{
    background-color: #F8E7E7;
}
.student_list_div{
    align-items: left;
    vertical-align: middle;
}
.student_image_div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
}
.student_image_div img.student_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.student_details_div{
    display: block;
    align-items: left;
    line-height: 7px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
p.student_name_txt{
    font-size: 16px;
    font-weight: bold !important;
    color: #414449 !important;
}
p.student_number_txt{
    margin-bottom: 0px !important;
}

    /* Violation Form */
    .modal_w{
        width: 1000px;
    }
    .modal-xl{
        width: 1140px;
    }
    .student_details_card{
        background-color: #FFE6E7 !important;
        border-radius: 12px !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    }
    .violation_date{
        background-color: #2F2E41 !important;
        border-radius: 12px;
        line-height: 30px;
        color: #fff !important;
    }
    .text-lighter{
        color: #C4C4C4 !important
    }
    .violation_date p{
        margin: 0px !important;
    }
    .img_card{
        min-height: 370px !important;
        max-height: 370px !important;
        max-width: 100%;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        background-repeat:no-repeat;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .offenses_div{
        background-color: #F7E2E3;
        border-radius: 12px;
    }
    .student_offenses_card{
        background-color: #fff !important;
        border-radius: 12px !important;
        padding: 20px !important;
    }
    .form_title_div{
        text-align: center !important;
        line-height: 25px !important;
        margin-bottom: 15px !important;
    }
    p.DSAS_txt{
        font-weight: normal !important;
        font-size: 15px !important;
        margin: 0px;
        color: #484758 !important;
    }
    p.SDU_txt{
        font-weight: bold !important;
        font-size: 20px !important;
        color: #2F2E41 !important;
        margin: 0px;
    }
    p.violation_form_txt{
        font-size: 20px !important;
        font-weight: bold !important;
        margin-top: 10px;
    }
    .student_img_div_modal{
        width: 70px;
        height: 70px;
        max-width: 70px;
        max-height: 70px;
        min-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        background-repeat:no-repeat;
        display: inline-block;
    }
    .student_img_div_modal .student_img_modal{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .student_details_div_modal{
        height: auto;
        display: block;
        align-items: left;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    p.student_id_txt_modal{
        font-size: 16px !important;
        font-weight: 500 !important;
        color: black !important;
    }
    p.student_name_txt_modal{
        font-size: 18px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }
    p.student_details_txt_modal{
        color: #6c757d !important;
        margin: 0px !important;
    }
    p.student_violation_count{
        color: #BD171B !important;
        font-weight: 10px !important;
        font-style: italic;
    }
    .offense_title{
        color: #BD171B;
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase !important;
    }
    .other_offense_txt_area{
        border: 0px !important;
    }
    .other_offense_txt_area:hover,
    .other_offense_txt_area:focus{
        border: 1px solid #BD171B;
    }
    /* checkbox */
    label.cb_label{
        padding-top: 2px !important;
    }
    p.recorded_by_txt,
    p.recorded_date_txt{
        font-size: 12px !important;
        font-style: italic;
        margin-bottom: 0px !important;
        vertical-align:middle !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    p.recorded_date_txt{
        font-style: normal !important;
    }
    .v_btn{
        font-size: 14px !important;
    }

/* violation records */
.main_card{
    display: flex;
    flex-wrap: nowrap;
}
.vr_card_footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.illustration_div{
    margin-left: auto !important;
    margin-right: 0px !important;
}
img.illustration_violation_records{
    height: 300px !important;
    width: auto;
    margin-top: -70px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-size: cover;
}
.violation_records_table,
.violation_records_table table{
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    overflow: hidden;
}
.violation_records_table table tbody tr{
    border-top: 1px solid #EBEBED;
    border-bottom: 1px solid #EBEBED;
}
.violation_record_table_div{
    overflow-y: auto !important;
    overflow-x:  auto;
    -webkit-overflow-scrolling: touch !important;
    height: auto;
    min-height: auto;
    max-height: 500px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #F4F4F5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.violation_record_table_div thead th{
    position: sticky;
    top: 0;
}
.vr_no_available_data{
    height: 120px;
    width: auto;
}
.violation_records_table table tbody tr{
    cursor: pointer !important;
}
.vr_total_records_div{
    padding: 13px !important;
    border-radius: 7px;
    font-size: 14px;
    font-weight: normal;
    color: #242333;
    background-color: #F4F4F5 !important;
}


/* Media Queries */
@media only screen and (max-width: 576px) {
    .short_svms_text{
        display: block !important;
    }
    .span_svms_text{
        display: none !important;
    }
    .display_search_div{
        padding-right: 30px;
    }
    .notice_div{
        margin: 30px !important;
    }
    .illustration_div{
        display: none !important;
    }
}


